<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Master Password</title>
  </head>
  <body>
    <h2>Welcome to Master Password!</h2>
    <h3>Get Secret:</h3>

    <form id="submitForm" action="#">
      <input id="secretInput" type="text" placeholder="Enter secret name" />
      <button>Get Secret</button>
      <div id="display"></div>
    </form>
    &nbsp;
    <h3>Set Secret:</h3>
    <form id="setForm" action="#">
      <input id="key" type="text" placeholder="Enter new secret name" />
      <input id="value" type="password" placeholder="Enter pin" />
      <button>Set Secret</button>
    </form>
    <script>
      const secretInput = document.querySelector("#secretInput");
      const submitButton = document.querySelector("#submitButton");
      const display = document.querySelector("#display");
      const submitForm = document.querySelector("#submitForm");
      const inputKey = document.querySelector("#key");
      const inputValue = document.querySelector("#value");
      const setButton = document.querySelector("#setButton");

      function handleSubmit(event) {
        event.preventDefault();

        console.log(secretInput.value);
        const url = `/${secretInput.value}`;
        fetch(url)
          .then(response => response.text())
          .then(secret => {
            display.innerHTML = secret;
          });
      }

      function handleCreate(event) {
        event.preventDefault();

        const url = `/${inputKey.value}`;
        fetch(url, {
          method: "POST",
          body: inputValue.value
        });
      }

      // async function handleSubmit(event) {
      //   event.preventDefault();
      //   const url = `/${secretInput.value}`;
      //   const secret = await fetch(url).then(response => response.text());
      //   showSecret.innerHTML = secret;
      // }

      submitForm.addEventListener("submit", handleSubmit);
      setForm.addEventListener("submit", handleCreate);
    </script>
  </body>
</html>
